#swiper {
  perspective: 100px;
  perspective-origin: center 50%;
  transform-style: preserve-3d;
  position: relative;
}

.card {
  position: absolute;
  transform: translateY(calc(-2px * var(--i)));
  /* translate: (0, calc(-20px * var(--i)), calc(-30px * var(--i))); */
  /* transform: translateZ(calc(-30px * var(--i))) translateY(calc(-20px * var(--i)))
      rotate(calc(-4deg * var(--i))); */
}
